html,
body,
main,
#map {
	height: 100%;
}

#filter {
	margin: 10px;
}

#pano {
	height: 200px;
	width: 400px;
}

#iw-content {
	max-height: 200px;
	overflow-y: auto;
}

.no-result-found {
	color: red;
	display: none;
}

.mdl-data-table {
	width: 100%;
}

.show-route,
.clear-route {
	margin: 20px 10px;
}

.route-details {
	background-color: white;
	display: none;
	width: inherit;

}

