html,
body,
main,
#map {
	height: 100%;
}

#filter,
#info {
	margin: 10px;
}

#pano {
	height: 200px;
	width: 400px;
}

#iw-content {
	max-height: 200px;
	overflow-y: auto;
}

.mdl-layout__drawer {
	overflow-x: hidden;
}

.no-result-found {
	color: red;
	display: none;
}

.visible {
	display: block;
}

.hidden {
	display: none;
}

.mdl-data-table {
	margin: 0 auto;
	width: 95%;
}

.pass-list-cell {
	cursor: pointer
}

.show-route,
.clear-route {
	margin: 20px 10px;
}

.drawer-card {
	background-color: white;
	margin: 10px auto;
	width: 97%;
}

.route-details {
	display: none;
}

.details-title {
	font-weight: bold;
	margin: 0 0 2px;
}

